p
{
	text-align:Left;
	color:Red;
	font-family:Georgia;
}
h2
{
	text-align:center;
	color:Blue;
	font-family:Georgia;
}
.textAlignment
{
	text-align:Left;
	color:Violet;
	font-family:Georgia;
}
.center
{
	text-align:Left;
	color:Black;
	font-family:Georgia;
}
#para1
{
	text-align:Left;
	color:Brown;
	font-family:Georgia;
}
img
{
   display: block;
   margin-left: auto;
   margin-right: auto;
}